body {
    background-color: rgb(21, 32, 43);
    font-family: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #444;
}

.topnav a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16pt;
}

.active {
    background-color: grey;
    color: black;
}

.topnav {
    background-color: rgb(21, 32, 43);
    overflow: hidden;
}

.topnav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    text-align: center;
    color: purple;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.container {
    padding: 25px;
    background-color: lightblue;
}
