body {
    background-color: rgb(21, 32, 43);
    font-family: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #444;
}

.topnav a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16pt;
}

.active {
    background-color: grey;
    color: black;
}

.logo {
    width: 20px;
    height: 20px;
}

.topnav {
    background-color: rgb(21, 32, 43);
    overflow: hidden;
}

.topnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    text-align: center;
    color: purple;
}
